<% if @kontak.errors.any? %>
  <div class="alert alert-danger">
    <h3>
      <%= @kontak.errors.count %>
      kesalahan input:
    </h3>
    <ul>
      <% @kontak.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>
