<div class="container">
  <table class="table -table-hover">
    <thead>
      <tr>
        <th>Nama</th>
        <th>Alamat</th>
        <th>No Telepon</th>
        <th>Email</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @kontaks.each do |kontak| %>
      <tr>
        <td>kontak.nama</td>
        <td>kontak.alamat</td>
        <td>kontak.no_telp</td>
        <td>kontak.almt_email</td>
        <td><%= link_to 'Edit','#' %> <%= link_to 'Hapus', '#' %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
