<div class="container">
  <p>
    nama: <%= @kontak.nama %>
  </p>
  <p>
    alamat: <%= @kontak.alamat %>
  </p>
  <p>
    no telepon: <%= @kontak.no_telp %>
  </p>
  <p>
    email: <%= @kontak.almt_email %>
  </p>
</div>
