<div class="jumbotron">
  <div class="container">
    <h1>Phone Book</h1>
    <p>Phone Book adalah aplikasi yang dapat kita gunakan untuk menyimpan no telepon kerabat atau teman kita.
    aplikasi ini berbasis web, sehingga dapat digunakan tanpa harus install aplikasi lagi.</p>
  </div>
</div>
